body {
  background: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#dddddd));
  background: -moz-linear-gradient(center top, center bottom, from(#ffffff), to(#dddddd));
  text-align: center;
  font-family: "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
}
p {
  margin: 20px 0 150px;
  color: #bbbbbb;
}
p a {
  color: #70b0d1;
  text-decoration: none;
}
.clock {
  position: relative;
  display: inline-block;
  padding: 25px;
  margin: 30px;
  background: -webkit-gradient(linear, left 55%, right 45%, from(#555555), to(#555555), color-stop(50%, #dddddd));
  background: -moz-linear-gradient(left 55%, right 45%, from(#555555), to(#555555), color-stop(50%, #dddddd));
  box-shadow: 4px 14px 12px rgba(0, 0, 0, 0.5);
  border-radius: 300px;
}
.clockBorderShadow {
  padding: 4px;
  background: -webkit-gradient(linear, 45% top, 55% bottom, from(#222222), to(#ffffff), color-stop(30%, #666666), color-stop(50%, #eeeeee));
  border-radius: 300px;
}
.clockBackground {
  position: relative;
  width: 200px;
  height: 200px;
  background: -webkit-gradient(linear, 45% top, 55% bottom, from(#bbbbbb), to(#ffffff), color-stop(40%, #eeeeee));
  border-radius: 300px;
}
.seconds {
  position: absolute;
  left: 49.5%;
  height: 58%;
  top: 2%;
  width: 1%;
  background: #ff0000;
  z-index: 3;
}
.minutes {
  position: absolute;
  left: 48.5%;
  height: 48%;
  top: 10%;
  width: 3%;
  background: #000000;
  z-index: 2;
}
.hours {
  position: absolute;
  left: 48%;
  height: 36%;
  top: 20%;
  width: 4%;
  background: #000000;
  z-index: 1;
}
.center {
  position: absolute;
  left: 47.5%;
  top: 47.5%;
  height: 5%;
  width: 5%;
  background: #333333;
  z-index: 4;
  border-radius: 50px;
}
.handles { margin: 0; }
.handles li {
  margin: 0;
  list-style: none;
  padding: 0;
  position: absolute;
  top: 0%;
  left: 49%;
  width: 1%;
  height: 5%;
  text-indent: -9999px;
  overflow: hidden;
  background: #000000;
  transform-origin: center 1000%;
  -webkit-transform-origin: center 1000%;
}
.handles li:nth-child(2) { transform: rotate(30deg); -webkit-transform: rotate(30deg);}
.handles li:nth-child(3) { transform: rotate(60deg); -webkit-transform: rotate(60deg);}
.handles li:nth-child(4) { transform: rotate(90deg); -webkit-transform: rotate(90deg);}
.handles li:nth-child(5) { transform: rotate(120deg); -webkit-transform: rotate(120deg);}
.handles li:nth-child(6) { transform: rotate(150deg); -webkit-transform: rotate(150deg);}
.handles li:nth-child(7) { transform: rotate(180deg); -webkit-transform: rotate(180deg);}
.handles li:nth-child(8) { transform: rotate(210deg); -webkit-transform: rotate(210deg);}
.handles li:nth-child(9) { transform: rotate(240deg); -webkit-transform: rotate(240deg);}
.handles li:nth-child(10) { transform: rotate(270deg); -webkit-transform: rotate(270deg);}
.handles li:nth-child(11) { transform: rotate(300deg); -webkit-transform: rotate(300deg);}
.handles li:nth-child(12) { transform: rotate(330deg); -webkit-transform: rotate(330deg);}
.label {
  font-size: 18px;
  text-transform: uppercase;
  width: 150px;
  margin: 0 29px;
  padding: 5px 0;
  background: #ffffff;
  border: 1px solid #dddddd;
  position: absolute;
  bottom: -70px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

.seconds {
    transform: rotate(216deg);
	animation: seconds 60s cubic-bezier(0, 1, 0, 1) infinite;
	transform-origin: center 83.33333%;	
	}
.minutes {
	transform: rotate(306deg);
	animation: minutes 3600s linear infinite;
	transform-origin: center 83.33333%;
	}	
.hours {
	transform-origin: center 83.33333%;
	}
	.clock .hours {
		transform: rotate(265.5deg);		
		animation: hours1 43200s linear infinite;
		}
	
@keyframes seconds {
	0% { transform: rotate(216deg); }
	1.67% { transform: rotate(222deg); }
	3.33% { transform: rotate(228deg); }
	5% { transform: rotate(234deg); }
	6.67% { transform: rotate(240deg); }
	8.33% { transform: rotate(246deg); }
	10% { transform: rotate(252deg); }
	11.67% { transform: rotate(258deg); }
	13.33% { transform: rotate(264deg); }
	15% { transform: rotate(270deg); }
	16.67% { transform: rotate(276deg); }
	18.33% { transform: rotate(282deg); }
	20% { transform: rotate(288deg); }
	21.67% { transform: rotate(294deg); }
	23.33% { transform: rotate(300deg); }
	25% { transform: rotate(306deg); }
	26.67% { transform: rotate(312deg); }
	28.33% { transform: rotate(318deg); }
	30% { transform: rotate(324deg); }
	31.67% { transform: rotate(330deg); }
	33.33% { transform: rotate(336deg); }
	35% { transform: rotate(342deg); }
	36.67% { transform: rotate(348deg); }
	38.33% { transform: rotate(354deg); }
	40% { transform: rotate(360deg); }
	41.67% { transform: rotate(366deg); }
	43.33% { transform: rotate(372deg); }
	45% { transform: rotate(378deg); }
	46.67% { transform: rotate(384deg); }
	48.33% { transform: rotate(390deg); }
	50% { transform: rotate(396deg); }
	51.67% { transform: rotate(402deg); }
	53.33% { transform: rotate(408deg); }
	55% { transform: rotate(414deg); }
	56.67% { transform: rotate(420deg); }
	58.33% { transform: rotate(426deg); }
	60% { transform: rotate(432deg); }
	61.67% { transform: rotate(438deg); }
	63.33% { transform: rotate(444deg); }
	65% { transform: rotate(450deg); }
	66.67% { transform: rotate(456deg); }
	68.33% { transform: rotate(462deg); }
	70% { transform: rotate(468deg); }
	71.67% { transform: rotate(474deg); }
	73.33% { transform: rotate(480deg); }
	75% { transform: rotate(486deg); }
	76.67% { transform: rotate(492deg); }
	78.33% { transform: rotate(498deg); }
	80% { transform: rotate(504deg); }
	81.67% { transform: rotate(510deg); }
	83.33% { transform: rotate(516deg); }
	85% { transform: rotate(522deg); }
	86.67% { transform: rotate(528deg); }
	88.33% { transform: rotate(534deg); }
	90% { transform: rotate(540deg); }
	91.67% { transform: rotate(546deg); }
	93.33% { transform: rotate(552deg); }
	95% { transform: rotate(558deg); }
	96.67% { transform: rotate(564deg); }
	98.33% { transform: rotate(570deg); }
	100% { transform: rotate(576deg); }
	}
	
@keyframes minutes {
	0%   { transform: rotate(306deg); }
	100% { transform: rotate(666deg); }
	}

@keyframes hours {
	0%   { transform: rotate(265.5deg); }
	100% { transform: rotate(625.5deg); }
	}